.left-column {
  float: left;
  width: 55%;
  text-align: left;
  position: inherit;
}

.right-column {
  float: right;
  width: 45%;
  text-align: right;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}